 
    <div class="container">
        <div class="jumbotron" style="padding-bottom:0px;" algin = "center">
            <h2>Business name !</h2>
        </div>
        <form class="form-signin" role="form">
            <input type ="text" class="form-control" placeholder="Business name" ng-model="businessname" required="">
             <input type ="text" class="form-control" placeholder="address" ng-model="business address" required="">
             <input type ="text" class="form-control" placeholder="contat number" ng-model="contat number" required="">
            <input type="email" class="form-control" placeholder="Email address" required="" autofocus="">
            <input type="password" class="form-control" placeholder="Password" required="">
            <label class="checkbox">
                <a href="#"> Sign In</>
        </label>
        <button type="button" class="btn btn-lg btn-success btn-block">Register</button>
      </form>
 
    </div>
