    <div class="container">
      <div class="col-sm-4 col-sm-offset-4">

          <!-- PAGE HEADER -->
            <div class="page-header">
                <h2>Business Registration</h2>
            </div>
            <div ng-form="registerForm">
                <form name="registerForm" ng-submit="submitForm(registerForm.$valid)" ng-controller="RegisterCtrl" novalidate> <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->

                    <!-- BUSINESS NAME -->
                    <div class="form-group"  ng-class="{'has-error' : registerForm.businessName.$dirty || invalidSubmitAttempt}">

                        <label>Business name *</label>
                        <input type="text" name="businessName" class="form-control"  ng-model="business.name" placeholder="business name" ng-minlength="3" ng-maxlength="30" required="">
                         <span class="help-block" ng-show="(registerForm.businessName.$dirty || invalidSubmitAttempt) && registerForm.businessName.$error.required">
                             Business name is required.
                          </span>

                        <span class="help-block" ng-show="(registerForm.businessName.$dirty || invalidSubmitAttempt) && registerForm.businessName.$error.maxlength || registerForm.businessName.$error.minlength">
                            Business name must be between 3 and 30 characters.
                        </span>

                        <!--<span class="help-block" ng-show="(registerForm.businessName.$dirty || invalidSubmitAttempt)  && registerForm.businessName.$invalid">-->
                             <!--Business name is invalid.-->
                        <!--</span>-->

                     </div>


                    <!-- BUSINESS CATEGORY -->
                    <div class="form-group"  ng-class="{'has-error' : registerForm.businessCategory.$dirty || invalidSubmitAttempt || registerForm.businessName.$error.number}">

                        <label>Category *</label>
                        <select  name="businessCategory" class="form-control"  ng-model="business.category"  required="">
                            <option value="">---Please select---</option>
                            <option value="birthday party">Birthday party</option>
                            <option value="builders">Builder</option>
                            <option value="Beauty saloon">Beauty saloon</option>
                            <option value="boutique">Boutique</option>
                            <option value="transport">Transport</option>
                            <option value="childcare">Children care</option>
                            <option value="concreting">Concreting</option>
                            <option value="computer technician">Computer technician</option>
                            <option value="carpet cleaning">Carpet cleaning</option>
                            <option value="curtain & clothing">Curtain & clothing</option>
                            <option value="car service & mechanic">Car service & mechanic</option>
                            <option value="driving school">Driving school</option>
                            <option value="education">Education</option>
                            <option value="electrician">Electrician</option>
                            <option value="finance broker">Finance Broker</option>
                            <option value="grocery shop">Grocery shop</option>
                            <option value="general cleaning service">General cleaning service</option>
                            <option value="handyman">Handyman</option>
                            <option value="homemade catering">Homemade catering</option>
                            <option value="immigration">Immigration</option>
                            <option value="Jewelery">Jewelery</option>
                            <option value="kids party activity">Kids party activity</option>
                            <option value="Lawn maintenance">Lawn maintenance</option>
                            <option value="medical">Medical</option>
                            <option value="painting services">Painting service</option>
                            <option value="pizza shop">Pizza shop</option>
                            <option value="party organizer">Party organizer</option>
                            <option value="photographer">Photographer</option>
                            <option value="priest">Priest</option>
                            <option value="realestate agent">Realestate agent</option>
                            <option value="sweets & cakes">Sweets & Cakes</option>
                            <option value="sewing">Sewing</option>
                            <option value="shared accommodation">Shared accommodation</option>
                            <option value="street food">Street food</option>
                            <option value="transport">Transport</option>
                            <option value="travel agent">Travel agent</option>
                            <option value="taxi service">Taxi service</option>
                            <option value="tax agent">Tax agent</option>
                            <option value="tuition">Tuition</option>

                        </select>
                         <span class="help-block" ng-show="(registerForm.businessCategory.$dirty || invalidSubmitAttempt) && registerForm.businessCategory.$error.required">
                                Business category is required.
                         </span>

                    </div>


                     <!--CONTACT NUMBER -->
                    <div class="form-group" ng-class= "{'has-error' : registerForm.contactNumber.$dirty || invalidSubmitAttempt}">

                        <label>Contact number *</label>

                        <input type="number" class="form-control"  ng-minlength="3" ng-maxlength="10" name="contactNumber" ng-model="business.contactNumber" placeholder="contact number" required>

                        <span class="help-block" ng-show="(registerForm.contactNumber.$dirty || invalidSubmitAttempt) && registerForm.contactNumber.$error.required">
                            Contact number is required.
                        </span>

                        <span class="help-block" ng-show="(registerForm.contactNumber.$dirty || invalidSubmitAttempt) && (registerForm.contactNumber.$error.maxlength || registerForm.contactNumber.$error.minlength)">
                             Invalid contact number.
                        </span>


                    </div>

                          <!--&lt;!&ndash; DESCRIPTION OF THE BUSINESS &ndash;&gt;-->
                    <!--<div class="form-group">-->
                        <!--<label>Business services </label>-->
                       <!-- -->
                        <!--<input type="text" name="businessServices" class="form-control" ng-model="business.services" placeholder="optional">-->
                       <!--&lt;!&ndash; -->
                        <!--<p ng-show="registerForm.conactNumber.$invalid && !registerForm.conactNumber.$pristine" class="help-block">Contact Number is required.</p>-->
                       <!-- -->
                        <!--<p ng-show="registerForm.conactNumber.$error.minlength" class="help-block">Incorrect contact number.</p>-->
                        <!-- -->
                        <!--<p ng-show="registerForm.conactNumber.$error.maxlength" class="help-block">Incorrect contact number.</p> &ndash;&gt;-->
                    <!--</div>-->


                    <!--&lt;!&ndash; EMAIL ADDRESS&ndash;&gt;-->
                    <!--<div class="form-group">-->

                        <!--<label>Business email address </label>-->
                        <!--<input type="email" name="email" class="form-control" ng-model="email">-->
                    <!--</div>-->

                        <!--&lt;!&ndash; SUBMIT BUTTON &ndash;&gt;-->
                    <button type="submit" class="btn btn-primary" ng-click="save(registerForm)">Submit</button>
                    <!--&lt;!&ndash; ng-disabled="userForm.$invalid" &ndash;&gt;-->

                    <p>Subscribe with use to get updated with your community news.<a href="#"> Sign In</a></p>
             
                </form>

                </div>
            </div><!-- cols-sm-8 -->
        </div><!-- container -->
 

